@import "tailwindcss";

html, body {
  overflow-x: hidden; /* Prevents horizontal scroll */
  width: 100%; /* Ensures full width without overflow */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box; /* Helps with responsive layouts */
}

@keyframes shimmer {
  100% {
    transform: translateX(280px);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: .6;
  }
  100% {
    transform: scale(12);
    opacity: 0;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
/* Works in Chrome, Edge, Safari */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Works in Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Works in IE/Edge */
.hide-scrollbar {
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important;
}